.pagination ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  gap: 5px;
}

.page-item {
  margin: 0;
}

.page-item.disabled .page-link {
  cursor: default;
  opacity: 0.5;
  border: none;
}

.page-link {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #007bff;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
}

.page-link:hover {
  background-color: #e2e6ea;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}

@media screen and (max-width: 480px) {
  .page-link {
    padding: 3px 6px;
  }
}

.disabled {
  border: none;
}
